<form method="post" action="{{ path('app_gift_card_delete', {'id': gift_card.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gift_card.id) }}">
    <button class="btn">Delete</button>
</form>
